@font-face {
    font-family: JetBrainsFont;
    src: url(font.ttf);
}

* {
    font-weight: normal;
    font-family: JetBrainsFont;
    --scale: 97%
}

body {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 20px;
}

button {
    z-index: 2;
    text-align: center;
    color: var(--base);
    background-color: var(--lavender);
    border: none;
    border-radius: 7px;
    width: 25px;
    height: 25px;
    font-size: 16px;
    padding-top: 3px;
    padding-left: 3px;
    cursor: pointer;
}

a {
    color: var(--text);
    text-decoration: none;
}

.content {
    margin-left: 210px;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.left {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    img {
        margin-top: -90px;
        scale: 55%;
    }
}

.top {
    margin-bottom: 20px;
}

.bottom {
    display: flex;
    justify-content: left;
    a {
        flex: 1;
        text-align: center;
        padding: 10px;
        border: 1px solid var(--mantle);
        border-radius: 15px;
        margin: 0 5px;
        background-color: var(--base);
        color: var(--text);
        animation: hoverDown 0.2s ease-in-out;
        max-width: 300px;
        
    }
    a:hover {
        animation: hoverUp 0.2s ease-in-out;
        transform: scale(var(--scale));
    }
}

@keyframes hoverUp {
    0% {
        transform: scale(100%);
    }
    
    100% {
        transform: scale(var(--scale));
    }
}

@keyframes hoverDown {
    0% {
        transform: scale(var(--scale));
    }

    100% {
        transform: scale(100%);
    }
}

@media (max-width: 1000px) {
    .left img {
        display: none;
    }
    .content {
        margin-left: 0;
    }
    .bottom {
        flex-direction: column;
        row-gap: 10px;
        a {
            max-width: 100vw;
            animation: none;
        }
        a:hover {
            animation: none;
            transform: scale(100%);
        }
    }
}

.dark-mode {
    background-color: var(--crust);
    color: var(--text);
    border-color: var(--lavender);

    --rosewater: #f5e0dc;
    --flamingo: #f2cdcd;
    --pink: #f5c2e7;
    --mauve: #cba6f7;
    --red: #f38ba8;
    --maroon: #eba0ac;
    --peach: #fab387;
    --yellow: #f9e2af;
    --green: #a6e3a1;
    --teal: #94e2d5;
    --sky: #89dceb;
    --sapphire: #74c7ec;
    --blue: #89b4fa;
    --lavender: #b4befe;
    --text: #cdd6f4;
    --subtext1: #bac2de;
    --subtext0: #a6adc8;
    --base: #1e1e2e;
    --mantle: #181825;
    --crust: #11111b;
    --shadow: rgba(58, 58, 58, 0.372);
    --shadow-invert: rgba(0, 0, 0, 0.2);
}

.white-mode {
    background-color: var(--crust);
    color: var(--text);
    border-color: var(--lavender);

    --rosewater: #dc8a78;
    --flamingo: #dd7878;
    --pink: #ea76cb;
    --mauve: #8839ef;
    --red: #d20f39;
    --maroon: #e64553;
    --peach: #fe640b;
    --yellow: #df8e1d;
    --green: #40a02b;
    --teal: #179299;
    --sky: #04a5e5;
    --sapphire: #209fb5;
    --blue: #1e66f5;
    --lavender: #7287fd;
    --text: #4c4f69;
    --subtext1: #5c5f77;
    --subtext0: #6c6f85;
    --base: #eff1f5;
    --mantle: #e6e9ef;
    --crust: #dce0e8;
    --shadow: rgb(0, 0, 0, 0.2);
    --shadow-invert: rgb(185, 185, 185, 0.2);
}